﻿@{
  ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <input name="searchbox" placeholder="Enter a search term" id="searchbox" />
      <button class="btn-primary btn-sm" id="btnSearch">Search</button><br />
      <a href="#" class="btn-outline-primary btn-sm d-inline-block" id="btnpagedown"><i class="fas fa-arrow-left"></i></a>
      <h6 class="d-inline-block text-white">Page <span id="page"></span> of <span id="totalpages"></span></h6>
      <a href="#" class="btn-outline-primary btn-sm -inline-block" id="btnpageup"><i class="fas fa-arrow-right"></i></a>
      <br /><h6 id="searchresults" class="text-white"></h6>
    </div>
  </div>

  <div id="moviecontainer">

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="moviedetails">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {

  <script>
    let apiurl = "https://localhost:44355/api/movie/";
    let movieDBurl = "";
    let currentpage = 1;
    let totalPages = 0;
    let inSearch = false;
    $(document).ready(function () {
      $("#btnSearch").bind("click", function () {
        SearchMovies(1);
      });

      $("#btnpagedown").bind("click", function () {
        PageMove(-1);
      });

      $("#btnpageup").bind("click", function () {
        PageMove(1);
      });

      $("#searchbox").bind("keyup", function (event) {
        var code = event.key;
        if (code === "Enter") {
          SearchMovies(1);
        }
      });

      UpcomingMoviesGet(1)
    });

    function ShowDetails(id) {
      $("#div" + id).show()
      $("#div" + id).css("z-index", "1");
    }

    function HideDetails(id) {
      $("#div" + id).hide()
      $("#div" + id).css("z-index", "-1");
    }

    function PageMove(direction) {
      currentpage += direction;
      if (currentpage < 1) {
        currentpage = 1;
      }
      if (currentpage > totalPages) {
        currentpage = totalPages;
      }
      if (inSearch) {
        SearchMovies(currentpage);
      }
      else {
        UpcomingMoviesGet(currentpage);
      }
    }

    function SearchMovies(page) {
      currentpage = page;
      var search = $("#searchbox").val()
      if (search !== "") {
        $.ajax({
          url: apiurl + "searchmovies?page=" + page + "&query=" + search,
          dataType: "JSON",
          async: false
        }).done(function (result) {
          if (result["results"].length == 0) {
            $("#searchresults").html("Your search for '" + search + "' returned no results.");
            $("#moviecontainer").html("");
            $("#page").html(0);
            $("#totalpages").html(0);
          }
          else {
            inSearch = true;
            $("#searchresults").html("Your search for '" + search + "' returned " + result["results"].length + " records");
            RenderResults(result);
          }

        }).fail(function (xhr, status, error) {
          $("#moviecontainer").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
          alert("Unable to retrieve records at this time");
        })
      }
      else {
        $("#searchresults").html("Please enter a search term.");
        return false;
      }
    }

    function UpcomingMoviesGet(page) {
      currentpage = page;
      $.ajax({
        url: apiurl + "upcomingmovies?page=" + page,
        dataType: "JSON",
        async: false
      }).done(function (result) {
        inSearch = false;
        RenderResults(result);

      }).fail(function (xhr, status, error) {
        $("#moviecontainer").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        alert("Unable to retrieve records at this time");
      })
    }

    function RenderResults(result) {
      var resultHtml = "<div class='row'>";
      for (i = 0; i < result["results"].length; i++) {
        var image = result["results"][i]["poster_path"] == null ? "Images/404poster.png" : "http://image.tmdb.org/t/p/w500/" + result["results"][i]["poster_path"];
        resultHtml += "<div class='col-sm-3 pr-1 imgcontainer'  onmouseover='ShowDetails(" + result["results"][i]["id"] + ")' onmouseout='HideDetails(" + result["results"][i]["id"] + ")'>";
        resultHtml += "<h5>" + result["results"][i]["title"] + "</h5>";
        resultHtml += "<img src='" + image + "' style='width: 400px'>";
        resultHtml += "<div class='movieDetails' id='div" + result["results"][i]["id"] + "'>";
        resultHtml += "<p class='overviewText'>" + result["results"][i]["overview"] + "</p>";
        resultHtml += "<p class='font-weight-bold'>Popularity: " + result["results"][i]["popularity"] + "<br />";
        resultHtml += "Votes: " + result["results"][i]["vote_count"] + "</p>";
        resultHtml += "</div></div>";
      }

      resultHtml += "</div>";
      $("#moviecontainer").html(resultHtml);

      totalPages = result["total_pages"];
      $("#page").html(currentpage);
      $("#totalpages").html(result["total_pages"]);
    }

  </script>
}