﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>A squirrel has eaten thru critical server lines</h3>
<p>
Please try your request again at a later time.
</p>
<img src="~/images/error.png" />

